%require_tree
%div.auth
  - if user_signed_in?
    %span
      Здравствуйте,
    %span.u_name
      #{current_user.email}
      %br
      = link_to "Мой кабинет", edit_user_registration_path, class: "btn btn-success btn-lg"
      %br
    = link_to 'Выйти', destroy_user_session_path, :method => :delete, class: "btn btn-danger btn-lg"
  - else

    = link_to 'Войти', new_user_session_path

    или #{link_to 'Зарегистрироваться', new_user_registration_path}

%h1 Все комментарии

%div.grid4
  - @comments.each do |comm|
    %div.com
      %div
        - if comm.image.path.nil?
          %img{:src => "#{comm.image.img}", :class => "images"}/
        - else
          %img{:src => "/#{comm.image.path}", :class => "images"}/
      %div
        %strong Пользователь:
        = comm.user.email
      %div
        %strong Заголовок:
        = comm.com_email
      %div
        %strong Текст:
        = comm.body

= link_to 'Back', categories_path,  class: "btn btn-danger btn-lg"
