%require_tree
%div.main
  %div.first
    = render "auth"
    %div.buttons
      .but5top
        = button_to t(".butcats"), categories_path,  class: "but5top",:method => :get, data_toggle: "tooltip", dataplacement: "bottom", title:"Gallery"
      .but5top
        = button_to t(".newcategory"), new_category_path,  class: "but5top",:method => :get
      %div.dropdown
        %button#dLabel2{"data-target" => "#", "data-toggle" => "dropdown",:href => "/page.html", :role => "button" , class: "but5top", data_toggle: "tooltip", dataplacement: "bottom", title:"List of categories"}
          %p.textconf
            = t(".topbutcat")
        %ul.dropdown-menu{"aria-labelledby" => "dLabel2", :role => "menu"}
          - @out.each do |category|
            = button_to category.name, category_path(category),  class: "buttlist",:method => :get
      %div.dropdown
        %button#dLabel1{"data-target" => "#", "data-toggle" => "dropdown",:href => "/page.html", :role => "button" , class: "but5top", data_toggle: "tooltip", dataplacement: "bottom", title:"List of categories"}
          %p.textconf
            = t(".allbutcat")
        %ul.dropdown-menu{"aria-labelledby" => "dLabel2", :role => "menu"}
          %div.all_cat
            - @categories.each do |category|
              = button_to category.name, category_path(category),  class: "buttlist",:method => :get
      .but5top
        = button_to t(".butimgs"), images_index_path,  class: "but5top",:method => :get, data_toggle: "tooltip", dataplacement: "bottom", title:"Gallery"
      .but6top
        = button_to t(".butcomms"), comments_index_path,  class: "but6top",:method => :get, data_toggle: "tooltip", dataplacement: "bottom", title:"List of comments"
      - if @categories_sub.nil?
      - else
        %div.dropdown
          %button#dLabel3{"data-target" => "#", "data-toggle" => "dropdown",:href => "/page.html", :role => "button" , class: "but5top", data_toggle: "tooltip", dataplacement: "bottom", title:"List of categories"}
            %p.textconf
              = t(".subsbutcat")
          %ul.dropdown-menu{"aria-labelledby" => "dLabel3", :role => "menu"}
            %div.all_cat
              - @categories_sub.each do |category|
                = button_to category.name, category_path(category.id),  class: "buttlist",:method => :get
    %div.lang
      = link_to "Ru", {locale: :ru}, class: "buttlist", data_toggle: "tooltip", dataplacement: "bottom", title:"change language to Russian"
      = link_to "En", {locale: :en}, class: "buttlist", data_toggle: "tooltip", dataplacement: "bottom", title:"change language to English"
    %br


  %div.second

    - @comments.each do |comm|
      %div.com_index
        .panel.panel-primary
          .panel-heading
            - if comm.user.avatar.url.nil?
              = link_to image_tag("no_avatar.jpg", class: "commavatar")
            - else
              = link_to image_tag(comm.user.avatar.url, class: "commavatar")
            - if comm.user.login.nil?
              = comm.user.email
            - elsif comm.user.email.last(12) == "@example.com"
              = comm.user.login
            = link_to t(".toimg"), category_image_path(comm.image.category_id,comm.image),{class: "btn btn-primary btn-lg"}unless comm.image.img.blank?
          .panel.panel-default
            .panel-heading
              = comm.com_email
            .panel-heading
              = comm.body
    = paginate @comments

