%require_tree
%div.auth
  - if user_signed_in?
    %span
      Здравствуйте,
    %span.u_name
      #{current_user.email}
      %br
    = link_to 'Выйти', destroy_user_session_path, :method => :delete
  - else

    = link_to 'Войти', new_user_session_path

    или #{link_to 'Зарегистрироваться', new_user_registration_path}


%h1 Все комментарии
%div.com_all
  - @comments.each do |comm|
    %div.com
      %div
        %img{:src => "/#{comm.image.path}", :class => "images"}/
      %div
        %strong Пользователь:
        = comm.user.email
      %div
        %strong Заголовок:
        = comm.com_email
      %div
        %strong Текст:
        = comm.body
    %br
%br
%br
= link_to 'Back', categories_path,  class: "btn btn-danger btn-lg"
