
= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post ,:id => "login" }) do |f|
  = devise_error_messages!
  %h1
    = t(".res")
  %fieldset#inputs
    = f.email_field :email, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),:html => { :id => "username" },
    :autofocus => "", :placeholder => t(".login"), :required => "", :type => "text"
  .actions
    = f.submit t(".resend"),:class => "buttlist"


