%requiretree
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post },:html => { :id => "login" }) do |f|
  = devise_error_messages!
  %h1
    = t(".reset")
  %fieldset#inputs
    = f.email_field :email,:html => { :id => "username" },:autofocus => "", :placeholder => t(".email"), :required => "", :type => "text"
  %fieldset#actions
    = f.submit t(".send"),:class => "createcomment",:data => {:toggle => 'modal', :target => '.bs-example-modal-sm'}
    .modal.fade.bs-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-sm
        .modal-content
          %h1
            = t(".sendmess")
  %div.langent
    = link_to "Ru", {locale: :ru}, class: "loc", data_toggle: "tooltip", dataplacement: "bottom", title:"change language to Russian"
    = link_to "En", {locale: :en}, class: "loc", data_toggle: "tooltip", dataplacement: "bottom", title:"change language to English"

