= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email
    %br/
    %span.input-group-addon
      %i.glyphicon.glyphicon-user
    = f.email_field :email, autofocus: true, class: "form-control"
  .field
    = f.label :password
    %br/
    %span.input-group-addon
      %i.glyphicon.glyphicon-lock
    = f.password_field :password, autocomplete: "off", class: "form-control"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me
  .actions
    = f.submit "Log in",  class: "btn btn-success btn-md"
- if User.find_by_email(resource.email)
  - if User.find_by_email(resource.email).failed_attempts > User.logins_before_captcha
    = recaptcha_tags
= render "devise/shared/links"