= render 'auth'

%h1 Создание категории
= form_with  scope: :category, url: categories_path, local: true do |form|
  %p
    = form.label :name
    %br/
    = form.text_field :name
    = form.hidden_field :user_id, value: current_user.id
  %p
    = form.submit t(".submit", action: @category.new_record? ? 'Создать':'Удалить'), class: "btn btn-success btn-lg"
