%require_tree
%body
%div.grid1
  %div.auth
    = render "auth"
  %div.grid2
    .buttons
      .dropdown
        %button#dLabel{"data-target" => "#", "data-toggle" => "dropdown",:href => "/page.html", :role => "button" , class: "btn btn-primary btn-lg"}
          = t(".butcat")
        %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
          - @categories.each do |category|
            = button_to category.name, category_path(category),  class: "btn btn-info btn-lg",:method => :get
          = button_to "New category", new_category_path,  class: "btn btn-success btn-lg",:method => :get
      .but1
        = button_to t(".butimgs"), images_index_path,  class: "btn btn-primary btn-lg",:method => :get
      .but2
        = button_to t(".butcomms"), comments_index_path,  class: "btn btn-primary btn-lg",:method => :get
    .gall
      #testCarousel.carousel.slide{"data-ride" => "carousel"}
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#testCarousel"}
          %li{"data-slide-to" => "1", "data-target" => "#testCarousel"}
          %li{"data-slide-to" => "2", "data-target" => "#testCarousel"}
        .carousel-inner
          / Слайд 1
          .item.active
            %img{:alt => "...", :src => "/assets/Categories/Motorcycles/9188ca.jpg"}/
            .carousel-caption
              Motorcycles
          .item
            %img{:alt => "...", :src => "/assets/Categories/Cars/44819614.jpg"}/
            .carousel-caption
              Cars
          .item
            %img{:alt => "...", :src => "/assets/Categories/PC/maxresdefault.jpg"}/
            .carousel-caption
              PC
          .item
            %img{:alt => "...", :src => "/assets/Categories/Ocean/green-ocean.jpg"}/
            .carousel-caption
              Ocean
          .item
            %img{:alt => "...", :src => "/assets/Categories/NewYear/ny-tree.jpg"}/
            .carousel-caption
              New Year
        %a.left.carousel-control{"data-slide" => "prev", :href => "#testCarousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-left
        / Кнопка, переход на следующий слайд с помощью атрибута data-slide="next"
        %a.right.carousel-control{"data-slide" => "next", :href => "#testCarousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-right


