%require_tree
%div.main
  %div.first
    = render "auth"
    %div.lang
      = link_to "Рус", {locale: :ru}, class: "btn btn-danger btn"
      = link_to "En", {locale: :en}, class: "btn btn-danger btn"
    %div.buttons
      .dropdown
        %button#dLabel{"data-target" => "#", "data-toggle" => "dropdown",:href => "/page.html", :role => "button" , class: "btn btn-success btn-lg"}
          = t(".butcat")
        %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
          - @categories.each do |category|
            = button_to category.name, category_path(category),  class: "btn btn-info btn-lg",:method => :get
          = button_to "New category", new_category_path,  class: "btn btn-success btn-lg",:method => :get
      .but1
        = button_to t(".butimgs"), images_index_path,  class: "btn btn-success btn-lg",:method => :get
      .but2
        = button_to t(".butcomms"), comments_index_path,  class: "btn btn-success btn-lg",:method => :get
  %div.second
    %div.grid3
      - if @images.nil?
      - else
        - @images.each do |image|
          %div
            - if image.path.nil?
              = link_to image_tag(image.img_url, :class => "category"), category_image_path(image.category_id,image.id)unless image.img.blank?
            - else
              = link_to image_tag('/'+image.path, :class => "category"), category_image_path(image.category_id,image.id)



