%require_tree
%div.main
  %div.first
    %div.lang
      = link_to "Ru", {locale: :ru}, class: "loc", data_toggle: "tooltip", dataplacement: "bottom", title:"change language to Russian"
      = link_to "En", {locale: :en}, class: "loc", data_toggle: "tooltip", dataplacement: "bottom", title:"change language to English"
    %br
    = render "auth"
  %div.second
    %br

    - if @sub
      = button_to t(".unsubscribe"), [@sub.category, @sub],  method: :delete, class: "unsubscribe"
    - elsif !@sub
      = form_with(scope: :sub, url: category_subs_path(@category.id)) do |form|
        = form.hidden_field :user_id, value: current_user.id
        = form.hidden_field :category_id, value: @category.id
        = form.submit  t(".subscribe"), class: "subscribe"
    %br
    = link_to t(".back"), categories_path,  class: "backbutton"
    %div.addi
    - if @category.user_id == current_user.id
      = form_with(model: [ @category, @category.images.build ], local: true) do |form|
        %p
          = form.hidden_field :user_id, value: current_user.id
          = form.hidden_field :category_id, value: @category.id
          %br
          = form.file_field :img
        %p
          = form.submit t(".categories.show.submit") ,class: "btn btn-success btn-lg"
      %br
      %br
      %br
    %div.row
      - @category.images.each do |image|
        %div.col-lg-4
          - if image.path.nil?
            = link_to image_tag(image.img_url, :class => "category", data_toggle: "tooltip", dataplacement: "bottom", title:"Open"), category_image_path(image.category,image.id)unless image.img.blank?
          - else
            - if image.path.first(5) == "https"
              = link_to image_tag(image.path, :class => "category", data_toggle: "tooltip", dataplacement: "bottom", title:"Open"), category_image_path(image.category,image.id)
            - else
              = link_to image_tag('/'+image.path, :class => "category", data_toggle: "tooltip", dataplacement: "bottom", title:"Open"), category_image_path(image.category,image.id)
        - if @category.user_id == current_user.id
          = button_to t(".categories.show.button"), [@category],  method: :delete, class: "btn btn-danger btn-lg"


