%require_tree
= render "auth"
%body
  %div.grid1


    %div.grid3
      - @category.images.each do |image|
        - if image.path.nil?
          = link_to image_tag(image.img_url, :class => "category"), category_image_path(image.category,image.id)
        - else
          = link_to image_tag('/'+image.path, :class => "category"), category_image_path(image.category,image.id)


- if @category.user_id == current_user.id
  = button_to 'Удалить категорию', [@category],  method: :delete, class: "btn btn-danger btn-lg"

= link_to t('common.back'), categories_path,  class: "btn btn-danger btn-lg"
- if @category.user_id == current_user.id
  = form_with(model: [ @category, @category.images.build ], local: true) do |form|
    %p
      = form.hidden_field :user_id, value: current_user.id
      = form.hidden_field :category_id, value: @category.id
      %br/
      = form.file_field :img
    %p
      = form.submit t(".submit") ,class: "btn btn-success btn-lg"
  %br
  %br
  %br