%require_tree
%div.auth
  %div.lang
    = link_to "Рус", {locale: :ru}, class: "btn btn-danger btn"
    = link_to "En", {locale: :en}, class: "btn btn-danger btn"
    %br
  %div.log
    - if user_signed_in?
      %span
        Здравствуйте,
      %span.u_name
        #{current_user.email}
        %br
        = link_to t(".auth"), edit_user_registration_path, class: "btn btn-success btn-lg"
        %br
      = link_to t(".exitauth"), destroy_user_session_path, :method => :delete, class: "btn btn-danger btn-lg"
    - else

      = link_to t(".enterauth"), new_user_session_path

      или #{link_to t(".reg"), new_user_registration_path}