%require_tree
%div.main
  %div.first
    %div.lang
      = link_to "Ru", {locale: :ru}, class: "loc", data_toggle: "tooltip", dataplacement: "bottom", title:"change language to Russian"
      = link_to "En", {locale: :en}, class: "loc", data_toggle: "tooltip", dataplacement: "bottom", title:"change language to English"
    %br
    = render "auth"
  %div.second
    %div.row
      - @images.each do |image|
        %div.col-lg-4
          - if image.path.nil?
            = link_to image_tag(image.img_url, :class => "category"), category_image_path(image.category_id,image.id)
          - else
            - if image.path.first(5) == "https"
              = link_to image_tag(image.path, :class => "category"), category_image_path(image.category_id,image.id)
            - else
              = link_to image_tag('/'+image.path, :class => "category"), category_image_path(image.category_id,image.id)

      = paginate @images
      %br
      = link_to t(".back"), categories_path,  class: "backbutton"