%require_tree
%div.main
  %div.first
    = render "auth"
    %div.lang
      = link_to "Рус", {locale: :ru}, class: "btn btn-danger btn"
      = link_to "En", {locale: :en}, class: "btn btn-danger btn"
  %div.second
    %div.grid3
      - @images.each do |image|
        %div
          - if image.path.nil?
            = link_to image_tag(image.img_url, :class => "category"), category_image_path(image.category_id,image.id)
          - else
            = link_to image_tag('/'+image.path, :class => "category"), category_image_path(image.category_id,image.id)
    = paginate @images
    %br
    = link_to t(".back"), categories_path,  class: "btn btn-danger btn-lg"