
%require_tree

%div.main
  %div.first
    = render "auth"
    %div.buttons
      .but5top
        = button_to t(".butcats"), categories_path,  class: "but5top",:method => :get, data_toggle: "tooltip", dataplacement: "bottom", title:"Gallery"
      .but5top
        = button_to t(".newcategory"), new_category_path,  class: "but5top",:method => :get
      %div.dropdown
        %button#dLabel2{"data-target" => "#", "data-toggle" => "dropdown",:href => "/page.html", :role => "button" , class: "but5top", data_toggle: "tooltip", dataplacement: "bottom", title:"List of categories"}
          %p.textconf
            = t(".topbutcat")
        %ul.dropdown-menu{"aria-labelledby" => "dLabel2", :role => "menu"}
          - @out.each do |category|
            = button_to category.name, category_path(category),  class: "buttlist",:method => :get

      %div.dropdown
        %button#dLabel1{"data-target" => "#", "data-toggle" => "dropdown",:href => "/page.html", :role => "button" , class: "but5top", data_toggle: "tooltip", dataplacement: "bottom", title:"List of categories"}
          %p.textconf
            = t(".allbutcat")
        %ul.dropdown-menu{"aria-labelledby" => "dLabel2", :role => "menu"}
          %div.all_cat
            - @categories.each do |category|
              = button_to category.name, category_path(category),  class: "buttlist",:method => :get
      .but5top
        = button_to t(".butimgs"), images_index_path,  class: "but5top",:method => :get, data_toggle: "tooltip", dataplacement: "bottom", title:"Gallery"
      .but5top
        = button_to t(".butcomms"), comments_index_path,  class: "but5top",:method => :get, data_toggle: "tooltip", dataplacement: "bottom", title:"List of comments"
      - if @categories_sub.nil?
      - else
        %div.dropdown
          %button#dLabel3{"data-target" => "#", "data-toggle" => "dropdown",:href => "/page.html", :role => "button" , class: "but5top", data_toggle: "tooltip", dataplacement: "bottom", title:"List of categories"}
            %p.textconf
              = t(".subsbutcat")
          %ul.dropdown-menu{"aria-labelledby" => "dLabel3", :role => "menu"}
            %div.all_cat
              - @categories_sub.each do |category|
                = button_to category.name, category_path(category.id),  class: "buttlist",:method => :get
    %div.lang
      = link_to "Ru", {locale: :ru}, class: "buttlist", data_toggle: "tooltip", dataplacement: "bottom", title:"change language to Russian", :id => "loc_ru"
      = link_to "En", {locale: :en}, class: "buttlist", data_toggle: "tooltip", dataplacement: "bottom", title:"change language to English", :id => "loc_en"
    %br


  %div.second
    %br
    %img{:src => "#{@image.img_url}", :class => "images"}/
    %br
    %br
    - if @like
      = link_to "<span class=\"glyphicon glyphicon-heart-empty\"></span>".html_safe+" #{@image.likes.count}", [@like.image.category, @like.image, @like],  method: :delete, class: "buttlist", id: "dislike"
      %br
    - elsif !@like
      = form_with(model: [ @image.category, @image, @image.likes.build ], local: true) do |form|
        %p
          = form.hidden_field :user_id, value: current_user.id
          = form.hidden_field :image_id, value: @image.id
        %p
          = button_tag " #{@image.likes.count}", type: 'submit', id: "like", class: "buttlist" do
            = "<span class=\"glyphicon glyphicon-heart\"></span>".html_safe+" #{@image.likes.count}"
          %br
    %br
    %div.com_all
      - @image.comments.each do |comm|
        .panel.panel-primary
          .panel-heading
            - if comm.user.avatar.url.nil?
              = link_to image_tag("no_avatar.jpg", class: "commavatar")
            - else
              = link_to image_tag(comm.user.avatar.url, class: "commavatar")
            - if comm.user.login.nil?
              = comm.user.email
            - elsif comm.user.email.last(12) == "@example.com"
              = comm.user.login
          .panel.panel-default
            .panel-heading
              = comm.com_email
            .panel-heading
              = comm.body

    %div.addcom
      = form_with(model: [ @image.category, @image, @image.comments.build ], local: true, class: "formcomm") do |form|
        .panel.panel-primary
        .panel-heading
          = t(".crtcomm")
        .panel.panel-default
          .panel-heading
            = form.text_field :com_email, id: "com_com_email"
          .panel-heading
            = form.text_area :body, id: "com_body"
            = form.hidden_field :user_id, value: current_user.id
          .panel-heading
            = form.submit t(".crtcomm"), class: "buttlist"





