
%require_tree

%div.main
  %div.first
    = render "auth"
    %div.buttons
      .but5top
        = button_to t(".butcats"), categories_path,  class: "but5top",:method => :get, data_toggle: "tooltip", dataplacement: "bottom", title:"Gallery"
      .but5top
        = button_to t(".newcategory"), new_category_path,  class: "but5top",:method => :get
      %div.dropdown
        %button#dLabel2{"data-target" => "#", "data-toggle" => "dropdown",:href => "/page.html", :role => "button" , class: "but5top", data_toggle: "tooltip", dataplacement: "bottom", title:"List of categories"}
          %p.textconf
            = t(".topbutcat")
        %ul.dropdown-menu{"aria-labelledby" => "dLabel2", :role => "menu"}
          - i = 0
          - @out.each do |category|
            - i + 1
            = button_to category[i].name, category_path(category[i]),  class: "buttlist",:method => :get

      %div.dropdown
        %button#dLabel1{"data-target" => "#", "data-toggle" => "dropdown",:href => "/page.html", :role => "button" , class: "but5top", data_toggle: "tooltip", dataplacement: "bottom", title:"List of categories"}
          %p.textconf
            = t(".allbutcat")
        %ul.dropdown-menu{"aria-labelledby" => "dLabel2", :role => "menu"}
          %div.all_cat
            - @categories.each do |category|
              = button_to category.name, category_path(category),  class: "buttlist",:method => :get
      .but5top
        = button_to t(".butimgs"), images_index_path,  class: "but5top",:method => :get, data_toggle: "tooltip", dataplacement: "bottom", title:"Gallery"
      .but5top
        = button_to t(".butcomms"), comments_index_path,  class: "but5top",:method => :get, data_toggle: "tooltip", dataplacement: "bottom", title:"List of comments"
      - if @categories_sub.nil?
      - else
        %div.dropdown
          %button#dLabel3{"data-target" => "#", "data-toggle" => "dropdown",:href => "/page.html", :role => "button" , class: "but5top", data_toggle: "tooltip", dataplacement: "bottom", title:"List of categories"}
            %p.textconf
              = t(".subsbutcat")
          %ul.dropdown-menu{"aria-labelledby" => "dLabel3", :role => "menu"}
            %div.all_cat
              - @categories_sub.each do |category|
                = button_to category.name, category_path(category.id),  class: "buttlist",:method => :get
    %div.lang
      = link_to "Ru", {locale: :ru}, class: "buttlist", data_toggle: "tooltip", dataplacement: "bottom", title:"change language to Russian"
      = link_to "En", {locale: :en}, class: "buttlist", data_toggle: "tooltip", dataplacement: "bottom", title:"change language to English"
    %br


  %div.second
    %br
    - if @image.path.nil?
      %img{:src => "#{@image.img_url}", :class => "images"}/
    - else
      - if @image.path.first(5) == "https"
        %img{:src => "#{@image.path}", :class => "images"}/
      - else
        %img{:src => "/#{@image.path}", :class => "images"}/
    %br
    %br
    - if @like
      = button_to t(".unlike")+": #{@image.likes.count}", [@like.image.category, @like.image, @like],  method: :delete, class: "buttlist"
    - elsif !@like
      = form_with(model: [ @image.category, @image, @image.likes.build ], local: true) do |form|
        %p
          = form.hidden_field :user_id, value: current_user.id
          = form.hidden_field :image_id, value: @image.id
        %p
          = form.submit t(".like")+": #{@image.likes.count}", class: "buttlist"

    %div.com_all
      - @image.comments.each do |comm|
        %div.com
          %div
            %strong
              = t(".user")
            = comm.user.email
          %div
            %strong
              = t(".title")
            = comm.com_email
          %div
            %strong
              = t(".text")
            = comm.body
        %br
    %br
    %br
    %div.addcom
      %br
      = form_with(model: [ @image.category, @image, @image.comments.build ], local: true) do |form|
        %p
          %label
            = t(".addimgtitle")
          %br/
          = form.text_field :com_email
        %p
          %label
            = t(".addimgtext")
          %br/
          = form.text_area :body
          = form.hidden_field :user_id, value: current_user.id
        %p
          = form.submit t(".crtcomm"), class: "buttlist"
        %br




