%require_tree
= render "auth"
%p
  - if @image.path.nil?
    %img{:src => "#{@image.img_url}", :class => "images"}/
  - else
    %img{:src => "/#{@image.path}", :class => "images"}/
%p
  %strong
    ЛАЙКИ: #{@image.likes.count}
- if @like
  = button_to 'UnLike', [@like.image.category, @like.image, @like],  method: :delete, class: "btn btn-danger btn-lg"
  %br
- elsif !@like
  = form_with(model: [ @image.category, @image, @image.likes.build ], local: true) do |form|
    %p
      = form.hidden_field :user_id, value: current_user.id
      = form.hidden_field :image_id, value: @image.id
    %p
      = form.submit "Like", class: "btn btn-success btn-lg"

  %br

%div.com_all
  - @image.comments.each do |comm|
    %div.com
      %div
        %strong Пользователь:
        = comm.user.email
      %div
        %strong Заголовок:
        = comm.com_email
      %div
        %strong Текст:
        = comm.body
    %br
%br
%br

%h2 Добавить комментарий:
= form_with(model: [ @image.category, @image, @image.comments.build ], local: true) do |form|
  %p
    %label Заголовок
    %br/
    = form.text_field :com_email
  %p
    %label Текст
    %br/
    = form.text_area :body
    = form.hidden_field :user_id, value: current_user.id
  %p
    = form.submit "Создать коммент", class: "btn btn-primary btn-lg"
= link_to t('common.back'), categories_path,  class: "btn btn-danger btn-lg"

